a:link { color: red; }
a:visited { color: blue; }
a:hover { color: darkviolet; }
body { background: black; color: white; margin-left: 2em; margin-right: 2em;}
h1 { background: black; color: white; font-size: 1.5em;}
table, td, th { border: 2px solid white; }